<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.client"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core, androidx.camera.view, androidx.camera.lifecycle" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Line15 : 차재현 음성인식 위한 권한허가 코드 입력-->

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>


    <application
        android:name=".ActivityLocal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Client">
        <activity
            android:name=".preference.SpeechToTextActivity"
            android:exported="false" />
        <activity
            android:name=".Personal_info_setting_Activity"
            android:exported="false" />
        <activity
            android:name=".MotionSettingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica,custom_ica" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity"></activity>

        <activity android:name=".JoinActivity"></activity>

        <activity android:name=".MypageActivity"></activity>

        <activity
            android:name=".PDF_View_Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".java.ChooserActivity"
            android:exported="false"></activity>
        <activity
            android:name=".java.LivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".java.CameraXLivePreviewActivity"
            android:exported="false"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".java.CameraXSourceDemoActivity"
            android:exported="false"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".java.StillImageActivity"
            android:exported="false"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".SelectPdfActivity"
            android:exported="false" >
        </activity>
    </application>

</manifest>